<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380052880738-vhahles3u3j4euf257rlage90180vrfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380052880738-vhahles3u3j4euf257rlage90180vrfq</string>
	<key>API_KEY</key>
	<string>AIzaSyB4TF3aMwn56kK-M50zEYiBlMbPxPvA2ho</string>
	<key>GCM_SENDER_ID</key>
	<string>380052880738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.futoVote</string>
	<key>PROJECT_ID</key>
	<string>futo-vote</string>
	<key>STORAGE_BUCKET</key>
	<string>futo-vote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380052880738:ios:d729362a5bcaee97a8403b</string>
</dict>
</plist>